*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-font: #fff;
  --orange: #ff6b08;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-font);
}

.header {
  width: 100%;
  background-color: rgb(148, 201, 178);
  background-image: url('../assets/header-images/header-home-mob.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 14.375rem; //230px
  padding: 0 1.25rem; //0 20px;
  color: var(--primary-font);
  font-size: 0.875rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  & .header-container {
    display: flex;
    align-items: center;
    padding: 0;
    & .film-icon-svg {
      margin-right: 10px;
      // margin-top: 46px;
      height: 24px;
      width: 24px;
    }
  }
  & ul {
    align-items: center;
  }
}
.header-library {
  width: 100%;
  background-color: rgb(167, 159, 210);
  background-image: url('../assets/header-images/header-library-mob.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 14.375rem; //230px
  padding: 0 1.25rem; //0 20px;
  color: var(--primary-font);
  font-size: 0.875rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  & .header-container {
    display: flex;
    align-items: center;
    & .film-icon-svg {
      margin-right: 10px;
      // margin-top: 46px;
      height: 24px;
      width: 24px;
    }
  }
  & ul {
    align-items: center;
  }
}
.title {
  display: none;
}
.nav-bar {
  width: 100%;
  align-items: center;
  padding: 3.625rem 0; //58px
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  gap: 39px;
  & li {
    font-size: 0.75rem; //12px
    & a {
      transition: all 250ms ease-out;
      position: relative;
      transform: translateX(-100%);
      &::before {
        content: '';
        position: absolute;
        opacity: 1;
        height: 3px;
        background-color: var(--orange);
        left: 0;
        top: 15;
        background-image: linear-gradient(to right, orange, red);
  
      }
      &:hover,
      &:focus,
      &:active {
        // color: var(--orange);
        // width: 100%;
        // height: 3px;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &::before,
        &::after {
          width: 100%;
        }
      }
      &:hover {
        color: transparent;
        background-image: linear-gradient(to right, orange, red);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-background-text-fill-color: transparent;
      }
    }
  }
  // & .title {
  //   display: none;
  // }
  & .home {
    margin-left: auto;
  }
}

.active {
  border-bottom: 0.188rem solid var(--orange);
  background-color: var(--orange);
  color: transparent;
  background-image: linear-gradient(to right, orange, red);
  -webkit-background-clip: text;
  background-clip: text;

  // -webkit-background-text-fill-color: transparent;
}
.form-container-home {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 21rem; //336px;
  margin: 0 auto;
  width: 100%;

  & #input-textbox-home {
    height: 100%;
    width: 100%;
    margin: 0.063rem; //1px;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 0.031rem solid var(--primary-font);
    color: var(--primary-font);
    background: transparent;
    font-size: 0.875rem; //14px;
    line-height: 1.026rem; //16.41px;
    transition: all 250ms ease-out;
    &:hover,
    &:focus,
    &:active {
      color: var(--orange);
      border-bottom: 0.031rem solid var(--orange);
      background-image: linear-gradient(to right, orange, red);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-background-text-fill-color: transparent;
    }
  }

  & button {
    // position: absolute;
    display: flex;
    gap: 1.25rem; //20px;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    right: 0;
    width: 0.75rem; //12px;
    height: 100%;
    background: none;
    font-size: 0.75rem;
    border: none;
    outline: none;
    padding: 1px;
    & i {
      color: var(--primary-font);
      &:hover,
      &:focus,
      &:active {
        color: var(--orange);
        color: transparent;
        background-image: linear-gradient(to right, orange, red);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-background-text-fill-color: transparent;
      }
    }
  }
}
.form-container-library {
  display: flex;
  gap: 1.25rem; //20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  & button {
    width: 100%;
    color: var(--primary-font);
    background-color: transparent;
    width: 8.096rem; //129.53px;
    height: 2.75rem; //44px;
    border-radius: 0.313rem; //5px;
    border-color: var(--primary-font);
    font-size: 0.75rem; //12px;
  }
  .watched,
  .queue {
    border: 1px solid var(--primary-font);
    align-items: center;
    transition: all 0.1s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      background-color: var(--orange);
      border-color: var(--orange);
    }
  }
}

//TABLET
@media only screen and (min-width: 768px) {
  .header {
    background-image: url('../assets/header-images/header-home-tab.jpeg');
    padding: 0 4.438rem; //0 71px;
  }
  .header-library {
    background-image: url('../assets/header-images/header-library-tab.jpeg');
    padding: 0 4.438rem; 
  }
  .film-icon-svg {
    margin-right: 10px;
    // margin-top: 46px;
  }
  .nav-bar {
    width: 100%;
    align-items: center;
    padding: 3.625rem 0; //58px
  }
  .nav-menu {
    display: flex;
    justify-content: flex-end;
  }
  .nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    display: flex;
    margin-left: 10px;
    color: var(--primary-font);
    font-size: 1.875rem; //30px;
    &::before {
      content: none;
    }
  }
  .form-container-home {
    width: 21rem; //336px;
    margin: 0 auto;
  }
}

//DESKTOP
@media only screen and (min-width: 1024px) {
  .header {
    background-image: url('../assets/header-images/header-home-desk.jpeg');
    padding: 0 4.438rem; //0 71px;
  }
  .header-library {
    background-image: url('../assets/header-images/header-library-desk.jpeg');
    padding: 0 4.438rem;
  }
  .nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .film-icon-svg {
    margin-right: 10px;
    // margin-top: 46px;
  }
  .nav-bar {
    justify-content: flex-end;
    display: flex;
  }
  .title {
    display: flex;
  }
  .form-container-home {
    width: 21rem; //336px;
    margin: 0 auto;
  }
}
