

#root {
   width: 100%;
  margin: 0 auto;

}

.main-container{
  padding: 4.438rem;
}
.movie-container {
  display: flex;
  max-width: 1529.984px;
  justify-content: center;
  padding: 0;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  min-height: 100vh;


  .movie-card img {
    width: 259px;
    border-radius: 5px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  .movie-title {
    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin-top: 10px;
    margin-bottom: 0;
    width: 259px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
 
  .movie-genre {
    color: #ff6b08;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin-top: 6px;
    width: 259px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
   
  }
}